@layout.app({ title: "Welcome page title" })
@slot('meta')
<meta name="description" content="A welcome page made with EdgeJS" />
@endslot

@slot('main')
<h1>
  Daftar Postingan
</h1>

<p>
  Belum ada product
</p>

@endslot
@end